body{
    color: #555 !important;
    font-family: 'Segoe UI', sans-serif !important;
    font-size: 1.2em;
    line-height:1.6;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/*NavBar CSS*/

.bgcolor.scrolled
{
    background-color: rgba(0,0,0,0.692);
}

.top-bar
{
    font-size: 15px !important;
    padding-bottom: 0 !important;
    border-bottom: 1px solid #555555 !important;
    /*font-weight: 100;*/
}

.top-bar.scrolled {border-bottom: 1px solid #eee !important;}
.top-btn
{
    height: auto;
    width: 75px;
    font-size: 14px !important;
}
.top-btn:hover
{
    color: black !important;
}
.down-bar
{
    margin-top: 4.4%;
}
.nav_logo{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
/*Navbar CSS Ends*/

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

/*Carousel Overlay */
.overlaycarousel:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.7);
}
/*end*/

/* Notice Box*/
.notice-box
{
    height: 60px;
    width: 100%;
    background-color: #01274c;


}
.content
{
    /*background-color: red;*/
    height: 60px;
    width: 100%;
}

.noticeBox
{
    width: 80px;
    height: 60px !important;
    /* background-color: red; */
    font-weight: bold;
    color: white;
    /* line-height: 50px; */
    /* position: relative; */
}
.noticeBox p
{
    height:60px;
}
.content marquee
{
    padding-top: 10px;
    color: black !important ;
    display: inline-block;
    text-decoration: none;
    line-height: 1em;
    padding: 20px;
}
.content a
{
    color: white !important;
}

.noticeText {
    /* background: red; */
    /* white-space: nowrap; */
    -webkit-animation: right 4s linear;
    position: absolute;
}


.content marquee a
{
    color: white;
    display: inline-block;
    text-decoration: none;

}
.content a:hover
{
    color: white;
    text-decoration: underline;
}

/* --------------Starts Here------------*/

.padding-all {
    padding: 20px 50px;
}
.lesson-box {
    height: 112px;
    width: 100%;
    padding: 30px !important;

}
.nil_icon
{
    height: 25px;
    width: 25px !important;
}


/* .size
{
	padding-right: 0px !important;
    padding-left: 0px !important;
 } */

.nil_starts
{
    width: 100%;
    text-align: center;
    margin-top: 3rem;
    margin-right: auto;
    margin-bottom: 3.25rem !important;
    margin-left: auto;
    font-size:50px;
    height: 180px;
    color: #0c4c7f;
    text-transform: uppercase;
}
.nil_starts a
{
    text-decoration: none !important;
    color:#efefef;
}
.nil_starts p
{
    text-transform: uppercase;
    font-weight: bold;
}

/*---------- Starts Here Ends ----------*/

/*----------------Scrolling Sectiion Starts----------------*/

.scroll-image
{
    background-image: url("../img/testc.jpg");
    z-index:-1;
}

.dark
{

    background-color: #01274c;
    opacity: 0.8;
    color: white;
}
.fixed-background h3
{
    margin-bottom: 2rem;
}
.fixed-background p
{
    margin-top: 1.5rem;
}
.narrow2
{
    width: 100%;
    text-align: center;
    margin-top: 3rem;
    margin-right: auto;
    margin-left: auto;
    font-size:50px;
}

#text2
{
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.scroll-content p
{
    padding-left: 112px !important;
}

.back
{
    width: 100%;
    height: 240px;

}
.back1
{
    width: 100%;
    height: 200px;
}
.size
{
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.sizeLearn
{
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.founder_message p
{
    text-align: left !important;
}

/*-------------Scrolling Sectiion Ends-------------------*/

/*-------------hapennings starts--------*/

.news-top
{
    width: 100%;
    text-align: center;
    margin-top: 3rem;
    margin-right: auto;
    margin-left: auto;
    font-size:50px;
    color: #01274c;
}
.featured-news
{
    /* height: 250px; */ /* Can be used if responsive donot work*/
    width: cover;
    /*background-color: red;*/
    padding-left: 95px !important;
}
.featured-news h5
{
    color: #01274c;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 25px;
}
.featured-news a
{
    text-decoration: none !important;
    color: #01274c;
}

.featured-news h6
{
    color: #01274c;
    font-weight: bold;
    text-transform: uppercase;
}
.featured-news button
{
    color: #01274c;
    border-color: #01274c;
}
.featured-news button:hover
{
    background-color: #01274c !important;
}

.upcoming-events
{
    height: 500px;
    width: cover;
    /*background-color: green;*/
    padding-left: 40px !important;
    padding-right: 150px !important;
}

.upcoming-events h5
{
    color: #01274c;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 25px;
}
.event-heading h6
{
    color: #01274c;
    font-weight: bold;
    text-transform: uppercase;
}
.event-heading hr
{
    background-color:  #01274c;
}
.eventContent
{
    padding-left: 20px;
}
.event-heading a
{
    color: #01274c !important;
}
.news-indicator
{
    top: 280px !important;
}
.news-indicator li
{
    background-color: #01274c !important;
}
.arrow
{
    color: #01274c !important;

    margin-top: 290px !important;
}



/*-------------hapennings ends--------*/

/* --- admin panel ---- */



/*footer*/

.footer{
    background-color: #26272b;
    padding: 50px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;

}

.footer hr{
    border-top-color: #bbb;
    opacity: 0.5;
}

.footer hr.small{
    margin: 20px 0;
}

.footer h6{
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
}

.footer h4{
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 60px;
    letter-spacing: 2px;
}

.footer a{
    color: #737373;
}

.footer a:hover{
    color: #fff;
    text-decoration: none;
}

/* navigation links styling*/
.footer-links{
    padding-left: 0;
    list-style: none;
}

.footer-links li{
    display: block;
}

.footer-links a{
    color: #737373;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover{
    color: #fff;
    text-decoration: none;
}

/*copyright*/
.copyright-text{
    margin: 0;
}

/*bottom footer social media icons- facebook and youtube styling*/
.footer .social-icons{
    text-align: right;
}

.footer .social-icons a{
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d;

}

.social-icons{
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.social-icons li{
    display: inline-block;
    margin-bottom: 4px;
}

.social-icons a{
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover{
    color: #fff;
    background-color: #29aafe;
}

/*Faculty Pages */
.faculty_card
{
  height: 0px !important;
}

/* Image Post with Gallery Content*/

.image_postGallery
{
  height: 100px !important;
  overflow: hidden !important;
  width: auto;
}
.postwithGallery_card
{
  height: 100px !important;
}

/* Image Post with Gallery Content*/




/*--------About Us Page Start ---------*/

.bgimg{
    background-image: url('../img/testc.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
}

/* Alumni Page*/
/* .alumni_img
{
  padding-bottom: 150px;
}
*/
.alumni_text
{
  /* margin-top: 75px; */
  padding: 10px;
}

/*acdemics section*/


.academics a{
    font-size: 14.5px;
}

.academics a:hover,
.academics a:active,
.academics a:focus{
    color: 	#FF0000;
}

.academics i{
    size: 12px;
}


.abtUsFooter
{
    margin-top: 5%;
}
/*------------------Gallery.css-----*/
/*gallery Page styling*/

.gallery{

    width: 100%;
    /* padding: 40px 0 150px; */
}

.gallery h1{
    font-size: 35px;
}

.card{
    margin-top: 40px;
}

.gallery_sports{

    width: 100%;
    padding: 50px 0 150px;


}
/*contact us page styling*/
.page-desc
{
    padding:40px;
}
.contact-box{
    margin: 30px;
    height: 160px !important;
}
.contact-icon {
    color: #fff;
    padding-top: 20px;
}
.contact-icon-bg {
    height: 80px;
    background-color: #01274c;
}
.contact-body {
    background-color: #fff;
    color: #1b1e21;
}
.s-icons {
    padding: 5px;
}

/*Footer Content*/
.footer_content
{
    padding-left: 100px;
}
.col-md-4.col-sm-6.col-12.inline {
    padding-right: 138px;
}

/*by bidish*/

/*page sidebar*/

.sidebar-active a {background-color: #01274c !important; color: #ddd !important;}
.vertical-nav ul li a{padding: 15px;}
.page-breadcrumb li{list-style: none;}

/* Hide and Show Responsive */

.sm-only
{
  display: none !important;
}
.pc-only
{
  display: block !important;
}


@media all and (max-width: 767px)
{

  .main-nav
  {background-color: rgba(0,0,0,0.692) !important;
  }
    .size_a
    {
        height: 60vh !important;
    }
    .size
    {
        height: 60vh;
    }
    .pc-only
    {
      display:none !important;
    }
    .sm-only
    {
      display: block !important;
    }
    .footer
    {
      padding: 0px !important;
    }
    .footer_content
    {
      padding-left: 0px !important;
    }
    .fixed-background
    {
    margin-top: 100%;
    }
    .founder_message p
    {
      text-align: center !important;
    }
    .scroll-content p
    {
      padding-left: 10px !important;
      padding-right: 10px !important;
    }
    .fixed-background p
    {
      margin-top: 0px !important;
    }
    .upcoming-events
    {
      height: 400px !important;
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
    .featured-news
    {

      padding-left: 0px !important;
    }
    .scrolled
    {
    background-color: rgba(0,0,0,0.692) !important;
    }
    /* .navbar .dropdown-menu {
    background-color: black !important;
    }
    .navbar .dropdown.show a {
  background-color: black !important;
}
.navbar-inverse {
        background-color: #A9B7C0 !important;
      } */

    /* .alumni_text
    {
      margin-top: 40px;
    } */
    .alumni_card
    {
      height: 430px !important;
    }
    .galleryview_card
    {
      width: auto;
      height: 190px !important;
      padding-bottom: 20px;
    }

.news_article {
  margin-bottom: 0px !important;
}

 }


/* @media (max-width: 1085px){
    .gallery{
        height: 1050px;
    }
} */

@media (max-width: 991px){
    /* .gallery{
        height: 950px;
    } */

    .bgimg{
        height: 420px;
    }



    .footer-links li{
        font-size: 14.5px;
    }

    .footer p{
        font-size: 14.5px;
    }
}



.card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    margin-top:10px;
    margin-bottom:10px;
    background-color:#FFF;
    height: 380px;
}

.card:hover {
    box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.card > .card-inner {
    padding:10px;
}
.card a
{
    color: gray;
}
.card  a:hover
{
    color: gray;
    text-decoration: none !important;
}
.news_data
{
    color: black;
    padding: 10px !important;
}
.card .header a h2, h3 {
    margin-bottom: 0px;
    margin-top:0px;
}
.card .news_data .header h2
{
    font-size: 16px;
    margin: 5px 0 5px;
}
.card .news_data .header h3
{

    font-size: 18px;
}
.card .header {
    margin-bottom:5px;
}
.card img{
    width:100% !important;
}
.image
{
    height: 160px !important;
    overflow: hidden;
}

w-100
{
    width:100% !important;
}
/*.news_content
{
	margin: 45px;
}*/
.news_article
{
    padding: 0 30px;
    margin-bottom: 45px;
}
.notice_card
{
  height: 300px !important;
}
.galleries_card
{
  height: 250px !important;
}
.galleryview_card
{
  width: auto;
  height: 150px;
  overflow: hidden !important;
}
.news_date
{
    padding-top: 10px;
}
.page-breadcrumb
{
  margin: 15px;
}
.googlemap_width
{
  width: 100% !important;
}
